@import '../../scss/variables';

.navbar{
    min-height: 15vh;
    background-color: $ligthgreen;
    padding: 10px;
    margin-bottom: 3px;

    &_logo{
        height: 55px;
        max-height: 80px;
        padding: 0 10%;
    }

    &_burger {
        cursor: pointer;
        color: $green;
    }
}