@import '../app/scss/variables';

.content{
    &--fresh{
        background-color: $ligthgreen; 

        &_img{
            width: 100%;
            height: 400px;
            background-position: center center;
            background-size: cover;
            background-image: url("../assets/images/banner.jpeg");
        }
    }

    &--work{
        width: 100%;
        background-color: $green;
        padding: 60px 10px;

    }

    &--promise{
        background-color: lightgray;
       
       &_img{
            width: 100%;
            height: 400px;
            background-position: center center;
            background-size: cover;
            background-image: url("../assets/images/banner-2.jpeg");
        }
    }

    &--healt{
        &_img{
            width: 100%;
            height: 400px;
            background-position: center center;
            background-size: cover;
            background-image: url("../assets/images/banner-3.jpeg");
        }
    }

    &--about{
        width: 100%;
        // background-image: linear-gradient(to, $green 50% ,lightgray 50%);
        background-color: $green;
        padding: 60px 10px;
    }

    &--happy{
        &_img{
            width: 100%;
            height: 450px;
            background-position: center center;
            background-size: cover;
            background-image: url("../assets/images/banner-4.jpeg");
        }
    }

    &--card{
        width: 100%;
        background-color: lightblue;
        padding: 0;
    }

    &--maps{
        &_img{
            height: 100%;
            width: 100%;
            min-height: 450px;
            background-position: center center;
            background-size: cover;
            background-image: url("../assets/images/banner-5.jpeg");
        }
    }

}


.card{
    margin:0 35px;
    &__info{
        margin: 15px 0;
        width: 250px;
        padding: 20px;
        background-color: $white;
        img{
            width: 100px;
            height: 100px;
            border-radius: 150px;
        }
        &_title{
            padding: 15px 0;
            font-size: 1.25rem;
            font-family: $text;
        }
    }
}

.title{
    &_work{
        font-size: 2.5em;
        color: white;
    }
}
.item {
    &--info{
        &__content{
            padding: 30px 40px;
        }
    }

    &__title-banner{
        position: absolute;
        left: 105px;
        font-size: 1.15em ;
        color: $green;
        
        &-2{
            font-size: 1.15em ;
            color: $green;
            padding: 0 5px;
        }
    }

    &__subtitle-banner{
        font-family: $title;
        color: $tomato;
        font-size: 4em;
        position: relative;
        
        &-l{
            font-family: $title;
            color: $tomato;
            font-size: 3em;
        }

        &-3{
            font-family: $title;
            color: $tomato;
            font-size: 2.5em;
        }
    }

    &__button{
        width: 80px;
        margin:25px 0 ;
        padding: 12px 20px;
        font-size: 12px;
        color: #ffffff;
        border-radius: 20px;
        background-color: $green;

        &-orange{
            width: 80px;
            margin:25px 0;
            padding: 12px 20px;
            font-size: 12px;
            color: #ffffff;
            border-radius: 20px;
            background-color: $tomato;

        }
        
    }

	&--text, &--img {
        width: 300px;
		height: 290px;
        margin: 15px;
    }

    &--text{
        background-color: #fff;
        img{
            margin-top: 20px;
        }
    }

	&__title {
        font-size: 1.3em;
	}
	
	&__desc {
        margin-top: 15px;
        font-style: italic;
        padding: 0 5px;
	}
		
	&--img {
		background-position: center center;
		background-size: cover;
		
		&:nth-child(1) {
			background-image: url(../assets/images/grid-1.jpeg);
		}
		
		&:nth-child(3) {
			background-image: url(../assets/images/grid-3.jpeg);
		}
		
		&:nth-child(5) {
			background-image: url(../assets/images/grid-2.jpeg);
		}
    }

    &--card, &--img2 {
        width: 300px;
		height: 200px;
    }

    &--card{
        padding: 20px 0;
		height: 130px;
        background-color: #fff;
    }

    &--img2 {
		background-position: center center;
		background-size: cover;
		
		&:nth-child(5) {
			background-image: url(../assets/images/grid-4.jpeg);
		}
		
		&:nth-child(6) {
			background-image: url(../assets/images/grid-5.jpeg);
		}
		
		&:nth-child(7) {
			background-image: url(../assets/images/grid-6.jpeg);
        }
        &:nth-child(8) {
			background-image: url(../assets/images/grid-7.jpeg);
		}
	}
    
}

@media only screen and (min-width: 584px){
    .item{
        &--card,&--img2{
            margin: 0 15px;
            height: 200px;
        }

        &--card{
            height: 130px;
        }
    }

}

@media only screen and (min-width: 1024px){

    .item{
        &--card,&--img2{
            margin: 0 35px;
            height: 200px;

        }

        &--card,{
            height: 130px;
        }

        &__title-banner{
            left: 165px;
        }

        &__subtitle-banner{
            font-size: 5em;

            &-l{
                font-size: 4em;
            }
    
            &-3{
                font-size: 3em;
            }
        }
    }
}

agm-map {
    height: 100%;
}